@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  color: #333;
}

h1 {
  margin: 1rem;
  color: #dbdbdb;
}

.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 400px;
  margin: 1rem auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 10px 15px 3px rgba(119, 119, 119, 0.3);
  -moz-box-shadow: 0px 10px 15px 3px rgba(119, 119, 119, 0.3);
  -webkit-box-shadow: 0px 10px 15px 3px rgba(119, 119, 119, 0.3);
}

@media (max-width: 500px) {
  .app-container {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
  }
}

.data-display {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: #ff00cc;
  /* fallback for old browsers */
  background: #020024;
  background: linear-gradient(40deg, #020024 0%, #090979 50%, #00d4ff 100%);
  color: #dbdbdb;
  padding-bottom: 1rem;
  z-index: 1;
}

.data-display .balance,
.data-display .income,
.data-display .expense {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  background-color: #fff;
  color: #444;
}

.data-display .balance h5,
.data-display .income h5,
.data-display .expense h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
  padding-bottom: 5px;
}

.data-display .balance h5 svg,
.data-display .income h5 svg,
.data-display .expense h5 svg {
  padding-right: 5px;
  height: 12px;
  width: 12px;
}

.data-display .income svg {
  color: rgba(0, 224, 101, 0.5);
  fill: rgba(0, 224, 101, 0.5);
}

.data-display .expense svg {
  color: rgba(255, 38, 121, 0.5);
  fill: rgba(255, 38, 121, 0.5);
}

.data-display .in-exp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 450px) {
  .data-display {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .data-display .balance h2, .data-display .balance h5,
  .data-display .income h2,
  .data-display .income h5,
  .data-display .expense h2,
  .data-display .expense h5 {
    font-size: 0.75rem;
  }
  .data-display .balance h3,
  .data-display .income h3,
  .data-display .expense h3 {
    font-size: 0.65rem;
  }
}

.dashboard {
  background-color: #fff;
  z-index: 2;
  margin-top: -1rem;
  padding: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dashboard .add-transaction {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .add-transaction form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .add-transaction form input {
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ebebeb;
}

.dashboard .add-transaction form input:focus {
  outline: 2px solid #333399;
}

.dashboard .add-transaction button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 4px;
  padding-bottom: 0;
  border-radius: 4px;
}

.dashboard .add-transaction button:focus {
  outline: 2px solid #333399;
  background-color: #e6e6ff;
}

.dashboard .add-transaction button svg {
  height: 2.5rem;
  width: 2.5rem;
  color: #333399;
  cursor: pointer;
}

.dashboard .add-transaction button svg:hover {
  fill: #e6e6ff;
}

.transaction-list {
  padding: 5px;
  list-style-type: none;
  max-height: 1000px;
  overflow-y: scroll;
}

.transaction-list .transaction-item {
  background-color: #fff;
  max-width: 100%;
  padding: 0.5rem;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #999;
}

.transaction-list .transaction-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.transaction-list .transaction-item .transaction-item-name {
  color: #333399;
  font-weight: 500;
}

.transaction-list .transaction-item button {
  padding-left: 5px;
  font-weight: 500;
  color: #666;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.transaction-list .transaction-item button:hover {
  color: #333;
}

.positive {
  border-left: 4px solid rgba(0, 224, 101, 0.5);
}

.negative {
  border-left: 4px solid rgba(255, 38, 121, 0.5);
}
/*# sourceMappingURL=styles.css.map */